<div id="gamePage">
    <div class="info-box">
        <div class="inner-box">
            <img alt="Who is the most wanted" title="Who is the most wanted" class="logo img-responsive" src="images/whos_the_most_wanted.jpg">
        </div>
        <div class="inner-box background-box _results">
            <div id="noResults">
                <i class="icon-question"></i>
                <div id="countdownTimer"></div>
            </div>
            <div id="results">
                <div class="score">
                    <div class='more-info'>
                        <div class='triangle'></div>
                        <i class='icon-plus'></i>
                    </div>
                    <p class="strong show_correct">RIGHT <span class="happy-face face-result">:)</span></p>
                    <p class="strong show_incorrect">NOT RIGHT <span class="unhappy-face face-result">:(</span></p>
                    <p class="_winner_class"><strong id="winnerName"></strong> it is!</p>
                </div>
                <div id="graph_results"></div>
                <div class="game_status alert alert-danger hidden">GAME OVER</div>
            </div>
        </div>
    </div>
    <div class="contender-box">
        <div class="inner-box entity-box entity1 _contender _contender1"></div>
        <div class="inner-box entity-box entity2 _contender _contender2"></div>
    </div>

    <div class="button-box">
        <button class="_next_match">
            NEXT
        </button>
    </div>
</div>
