<div id="loginPage">
    <div class="brand-box">
        <img class="logo" src="images/whos_the_most_wanted.jpg">
    </div>
    <h3>LOGIN WITH</h3>
    <div class="box-group">
        <div class="box-login color-background-1">
            <a href class="_login_twitter">
                <i class="icon-twitter"></i>
            </a>
        </div>
        <div class="box-login color-background-2">
            <a href class="_login_facebook">
                <i class="icon-facebook"></i>
            </a>
        </div>
    </div>
    <button class="_login_local">
        I DON'T HAVE IT
    </button>
</div>
