<div class="info-box">
    <div class="inner-box">
        <img alt="Who is the most wanted" title="Who is the most wanted" class="logo img-responsive" src="images/whos_the_most_wanted.jpg">
    </div>
    <div class="inner-box background-yellow">
        <p class="intro h4 text-right"><span class="highlight">Who is the most wanted Celebrity?</span></p>
    </div>
</div>
<div class="contender-box">
    <div class="inner-box entity-box entity1">
        <img title="Justin Bieber" alt="Justin Bieber" class="person loser img-responsive" src="images/justin.jpg">
        <div class="entity-name">Justin Bieber</div>
    </div>
    <div class="inner-box entity-box entity2">
        <img title="Brad Pitt" alt="Brad Pitt" class="person img-responsive" src="images/brad.jpg">
        <div class="entity-name">Brad Pitt</div>
    </div>
</div>
