<div class="col-lg-push-3 col-xs-12 col-lg-6">
<div class="box">
    <div class="box-header">
        <div class="title">
        Create account
        </div>
    </div>
    <div class="box-content">
        <form id="userForm" class="form form-horizontal" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8">
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">Full name</label>
                <div class="col-md-5">
                    <input class="form-control" id="name" placeholder="Full name" type="text" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-5">
                    <input class="form-control" id="email" placeholder="Email" type="text" name="email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="password">Password</label>
                <div class="col-md-5">
                    <input class="form-control" id="password" placeholder="Password" type="password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="repeatPassword">Confirm Password</label>
                <div class="col-md-5">
                    <input class="form-control" id="repeatPassword" placeholder="Confirm Password" type="password" name="repeatPassword">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Terms</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="true" id="terms" name="terms">I agree all your <a href="#terms">Terms of Services</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-actions form-actions-padding-sm">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-primary" type="submit">
                            <i class="icon-save"></i>
                            Create Account
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
