
<!--<li class="sidebar-brand">
    <a href="#">
        Who is the most wanted
    </a>
</li>-->
<li>
    <a class="color-mw-red" href="#leaderboard">Leaderboard</a>
</li>
<li>
    <a class="color-mw-yellow" href="#terms">Terms & Conditions</a>
</li>
<li>
    <a class="color-mw-blue" href="#privacy">Privacy statement</a>
</li>
<li>
    <a class="upper color-white" href="#contact">Contact</a>
</li>
<li  id="sidebar-footer">
    <a href="/">
        <img class="img-responsive" src="images/whos_the_most_wanted.jpg">
    </a>
</li>


